.current {
    background-color: red;
}

.banner {
    background: #6e9d1b url("../images/banner.jpg") no-repeat center center;
    background-size: cover;
    padding: 5em 1em 1em;
    text-align: center;
}

.banner h2 {
    color: #000000;
}