---
layout: default
title: About
bannertext: Welcome to Tasting Treats!
showbanner: yes
---

<div class="grid pad-top-double">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <h1>About Us!</h1>
    </div>
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
        <p>Our Tempting Treats is a full service bakery offering freshly-baked, moist and delicious cupcakes and cakes, fully custom orders
            and other delightful baked treats. For questions on any of our products, call us at (613) 855-6449 to talk to one of our “Sweetness Specialists”.</p>
    </div>
</div>

<div class="grid">
    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Coconut Cupcake" desc="Meringue icing topped with coconut flakes" image="images/cupcake/1.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Love Cupcake" desc="Banana, pineapple and pecan cake with sweet cream" image="images/cupcake/2.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Chocolate Cupcake" desc="Chocolate cake topped with a swirl of chocolate buttercream and purple rose." image="images/cupcake/3.jpg" %}
    </div>
</div>


