---
layout: default
title: Home
bannertext: Order your cakes online now!
showbanner: yes
---

<h1>Welcome to Tasting Treats</h1>
<p>It is easy to pre-order your cupcakes! For any of our cupcakes "Hot out of the Oven" we need a 24 hour notice. For any of our Special Order Cupcakes we request a 48 hour notice. Simply fill out the form below, click the "Send to our Bakery" It will be faxed directly to our store! You will be contacted shortly to confirm your cupcake order request and payment information.</p>

{% include promo-large.html %}

<div class="grid">
    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Coconut Cupcake" desc="Meringue icing topped with coconut flakes" image="images/cupcake/1.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Love Cupcake" desc="Banana, pineapple and pecan cake with sweet cream" image="images/cupcake/2.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Chocolate Cupcake" desc="Chocolate cake topped with a swirl of chocolate buttercream and purple rose." image="images/cupcake/3.jpg" %}
    </div>
</div>





