---
layout: default
title: search
bannertext: Order your cakes online now!
showbanner: yes
---

<h1>Search Results</h1>

<div class="grid results">
    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Coconut Cupcake" desc="Meringue icing topped with coconut flakes" image="images/cupcake/1.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Love Cupcake" desc="Banana, pineapple and pecan cake with sweet cream" image="images/cupcake/2.jpg" %}
    </div>

    <div class ="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="Chocolate Cupcake" desc="Chocolate cake topped with a swirl of chocolate buttercream and purple rose." image="images/cupcake/3.jpg" %}
    </div>
</div>
