<div class="promo-big grid">

    <div class="media">
        <div class="media-img unit unit-s-1 unit-m-1 unit-l-2-3">
            <img class="img-flex" src="http://placehold.it/960x340" alt="">
        </div>

        <div class="media-body unit unit-s-1 unit-m-1 unit-l-3-3">
            <a href class="exa"><strong>Tootsie roll bonbon icing croissant</strong></a>
            <p>Muffin marzipan tart marzipan muffin bonbon. Croissant bonbon pastry dessert donut marshmallow chocolate candy canes muffin.</p>
            <a class="btn giga" href="#">Shop Now</a>
        </div>
    </div>
</div>
