<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} - Tempting Treats</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700|Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/theme.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-detail.css" rel="stylesheet">
</head>
<body>


<header class="masthead">
    <div class="grid nav-container">
        <div class="unit unit-s-1 unit-m-1 unit-l-1-3">
            <h1><img class="img-flex logo" src="{{site.baseurl}}/images/logo.svg" alt="Tasting Treats"></h1>
        </div>

        <div class="unit unit-s-1 unit-m-1 unit-l-2-3">

            <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
            </form>

        </div>

        <ul class="list-group giga nav-content nav">
            <li class="list-group-item list-group-item-inline">
                <a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
            </li>


            <li class="list-group-item list-group-item-inline">
                <a class="{% if page.url contains 'sweets' %}current{% endif %}" href="{{site.baseurl}}/sweets/">Sweets</a>

            </li>
            <li class="list-group-item list-group-item-inline">
                <a class="{% if page.url contains 'about' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
            </li>
        </ul>

    </div>
</header>

{% if page.showbanner %}
    <div class="banner">
        <h2>{{page.bannertext}}</h2>
    </div>
{% endif %}

{{content}}


<footer class="footer pad-t">
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
            <p><small>©Tempting Treats. All Rights Reserved.</small></p>
        </div>
        <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
            <p>Follow us on</p>
            <ul class="list-group mili footer-links">
                <li class="list-group-item list-group-item-inline">
                    <a href="http://facebook.com/"><img src="{{site.baseurl}}/images/icons/i-facebook.svg" alt="Facebook"/></a>
                </li>
                <li class="list-group-item list-group-item-inline">
                    <a href="http://pinterest.com/"><img src="{{site.baseurl}}/images/icons/i-pinterest.svg" alt="Pinterest"/></a>
                </li>
                <li class="list-group-item list-group-item-inline">
                    <a href="http://twitter.com/"><img src="{{site.baseurl}}/images/icons/i-twitter.svg" alt="Twitter"/></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
